/*
    Created on : 2018/09/04, 16:15:06
    Author     : wws2003
*/

/*
Default CSS classes for common paging fragment
*/

#frgPaging {
    border: 1px solid lightgray
}

#dvPagingNavBar {
    margin-bottom: 15px
}

#dvPagingMessage {
    color: red
}

#dvRecordCtrlArea {
    height: 34px
}

.lo_paging_table thead {
    background-color: skyblue
}