/*
    Created on : 2018/09/04, 16:15:06
    Author     : wws2003
*/

.mo_inline_select_box {
    max-width: 80px;
    display: inline-block;
}

.mo_inline_text {
    max-width: 120px;
    display: inline-block;
}

.modal .mo_success_icon {
    color: green;
    font-size: 20px;
    margin-right: 20px;
}

.modal .mo_error_icon {
    color: red;
    font-size: 20px;
    margin-right: 20px;
}

/*--------------------Fixed header table--------------------*/

table.lo_fixed_header_table {
    table-layout: fixed
}

table.lo_fixed_header_table.with_scroll thead {
    width: 100%
}

table.lo_fixed_header_table.with_scroll thead {
    width: calc(100% - 16px) !important;
}

table.lo_fixed_header_table tbody {
    display: block;
    overflow-y: auto;
    width: 100%;
}

table.lo_fixed_header_table thead, table.lo_fixed_header_table tr, table.lo_fixed_header_table td, table.lo_fixed_header_table th {
    display: block;
    height: 40px;
}

table.lo_fixed_header_table tbody td, table.lo_fixed_header_table thead > tr> th {
    float: left;
}
