<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
    <head th:replace="common/fragments/commonHeader::frg_common_header(~{::title},~{::link},~{::script})" th:with="timeToken=${#dates.format(#calendars.createNow(), 'yyyyMMddHHmmss')}">
        <title>Home</title>
        <link href="../../../../resources/css/user/user.css" rel="stylesheet" media="screen" th:href="@{'/resources/css/user/user.css?' + ${timeToken}}"/>
        <script src="../../../../resources/js/user/user.js" th:src="@{'/resources/js/user/user.js?' +  ${timeToken}}"></script>
    </head>
    <body>
        <div>
            <label th:text="'Welcome ' + ${userName}">Username</label>
        </div>
        <div>
            <h3>Choose action</h3>
            <div>
                <a href="#" th:href="@{/user/profileManagement}">Profile management</a>
            </div>
            <div>
                <a href="#" th:href="@{/user/activityLog}">Activity log</a>
            </div>
            <div>
                <a href="#" th:href="@{/project/index}">My projects</a>
            </div>
        </div>
        <form action="#" th:action="@{/user/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>
