
.lo_priv_area select{
    width: 100%
}

.lo_priv_buttons_area {
    padding: 0px;
    height: 100%;
    display: grid;
    vertical-align: middle;
    margin-top: 40px;
}

.lo_priv_buttons_area button:first-child {
    margin-bottom: 5px
}

