
.lo_records_ctrl_button {
    margin-left: 5px;
    margin-right: 5px
}

table.lo_fixed_header_table tbody {
    max-height: 450px
}

td.mo_logged_in {
    color: #04B431
}

table.lo_fixed_header_table td.mo_checkbox_wrapper {
    padding-left: 20px
}

.lo_priv_area select{
    width: 100%
}

.lo_priv_buttons_area {
    padding: 0px;
    height: 100%;
    display: grid;
    vertical-align: middle;
    margin-top: 40px;
}

.lo_priv_buttons_area button:first-child {
    margin-bottom: 5px
}
