<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Just a faked title to deceive IDE</title>
    </head>
    <body>
        <div id="frgSearchBox" th:fragment="frgSearchBox">
            <!-- Area for search box and search button -->
            <div>
                <div id="dvSearchInputArea">
                    <input type="text" id="txtSearchBoxQuery" placeholder="Search.."/>
                    <button type="button" id="btnSearch" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span>Search
                    </button>
                </div>
            </div>
            <!-- Area for search result dropdown list -->
            <div>
                <select id="sltSearchResultList">
                </select>
            </div>
            <!-- Area for selected search results (optional) -->
            <div id="dvSelectedSearchResultsArea">
            </div>
        </div>
    </body>
</html>
