/* Style for user-module header */
header {
    background-color: rgb(222,184,135) !important
}

/* For navigation bar menu */
header nav a.navbar-brand{
    font-size: 26px !important;
    color: white !important;
    text-decoration: none !important;
}

header nav ul.navbar-nav{
    font-size: 20px !important
}

header nav ul.navbar-nav .dropdown-menu li {
    padding-bottom: 6px;
    padding-top: 6px
}

