<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/main}">
    <head th:replace="common/fragments/commonHeader::frg_common_header(~{::title},~{::link},~{::script})" th:with="timeToken=${#dates.format(#calendars.createNow(), 'yyyyMMddHHmmss')}">
        <title>Add page</title>
        <link href="../../../resources/css/commonModal.css" rel="stylesheet" media="screen" th:href="@{'/resources/css/commonModal.css?'+ ${timeToken}}" />
        <link href="../../../resources/css/project/document/addPage.css" rel="stylesheet" media="screen" th:href="@{'/resources/css/project/document/addPage.css?'+ ${timeToken}}" />
        <script src="../../../../resources/js/project/document/addPage.js" th:src="@{'/resources/js/project/document/addPage.js?' +  ${timeToken}}"></script>    </head>
    <body>
        <!-- /* Header */ -->
        <header layout:fragment="frgHeader" th:insert="project/fragments/projectHeaderMenu::frgNavBar">
        </header>
        <!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
        <div layout:fragment="frgContent">
            <!-- Info area -->
            <div>
                <div class="form-group">
                    <label>Project name</label>
                    <input id="txtProjectName" type="text" class="form-control" disabled="disabled"/>
                </div>
                <div class="form-group">
                    <label>Document name</label>
                    <input id="txtDocumentName" type="text" class="form-control" disabled="disabled"/>
                </div>
            </div>
            <!-- Content area -->
            <div class="form-group">
                <label>Input type</label>
                <input type="radio" id="rd_page_from_text" name="rd_page_from" checked="checked" value="1"/> Input by text
                <input type="radio" id="rd_page_from_file" name="rd_page_from" value="2"/> Upload file
            </div>
            <div class="form-group">
                <label>Page content</label>
                <textarea id="txtPageContent" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Upload file</label>
                <input type="file" id="flPage"/>
            </div>
            <!-- Confirm area -->
            <div class="form-group">
                <label>Index for full text search</label>
                <input id="chkIndex" type="checkbox" class="form-control"/>
            </div>
            <div class="form-group">
                <button class="btn">OK</button>
            </div>
        </div>
    </body>
</html>