<!DOCTYPE html>
<!--
Reusable main layout
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
    <head th:replace="common/fragments/commonHeader :: frg_common_header(~{::title},~{},~{})">
        <title>Title</title>
    </head>
    <body>
        <header>Jakob Mendel</header>
        <!-- Main -->
        <main class="container-fluid">
            <!-- Sidebar -->
            <aside class="col-xs-1">
                <!-- Logout button area -->
                <div>
                    <form action="#" th:action="@{/admin/logout}" method="post">
                        <button type="submit" class="btn">Logout</button>
                    </form>
                </div>
            </aside>
            <section class="col-xs-11">
                <!-- Breadcrumb currently not used -->
                <!--
                <ol id="olBreadcrumb" class="breadcrumb">
                </ol>
                -->
                <!-- Main content -->
                <div id="dvMainContent" layout:fragment="frgContent">
                </div>
            </section>
        </main>
        <!-- Modal -->
        <th:block layout:fragment="frgCustomContent">
        </th:block>
        <!-- Footer -->
        <footer>
            <span> TBC-HPG&copy;2018 </span> <span> <a href="#">Sitemap</a>
            </span>
        </footer>
    </body>
</html>
