<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/main}">
    <head th:replace="common/fragments/commonHeader::frg_common_header(~{::title},~{::link},~{::script})" th:with="timeToken=${#dates.format(#calendars.createNow(), 'yyyyMMddHHmmss')}">
        <title>Project management</title>
        <link href="../../../resources/css/commonModal.css" rel="stylesheet" media="screen" th:href="@{'/resources/css/commonModal.css?'+ ${timeToken}}" />
        <link href="../../../../resources/css/admin/modulecommon/adminCommon.css" rel="stylesheet" media="screen" th:href="@{'/resources/css/admin/modulecommon/adminCommon.css?' + ${timeToken}}"/>
        <link href="../../../../resources/css/admin/projectManagement.css" rel="stylesheet" media="screen" th:href="@{'/resources/css/admin/projectManagement.css?' + ${timeToken}}"/>
        <script src="../../../../resources/js/admin/projectManagement.js" th:src="@{'/resources/js/admin/projectManagement.js?' +  ${timeToken}}"></script>
    </head>
    <body>
        <!-- /* Header */ -->
        <header layout:fragment="frgHeader" th:insert="admin/fragments/adminHeaderMenu::frgNavBar">
        </header>
        <!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
        <div layout:fragment="frgContent">
            <h4>Project management</h4>
            <!-- Projects list area (paging)  -->
            <div th:replace="common/fragments/commonPagingFragment::frgPaging">
            </div>
        </div>
        <th:block layout:fragment="frgCustomContent">
            <!-- /*Project add/update modal */-->
            <div id="mdlProjectAddUpdate" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <!-- Modal header -->
                        <div class="modal-header">
                            <label id="lblProjectDialogTitle" class="modal-title mo_modal_title">Input project info</label>
                            <button type="button" class="btn btn-default pull-right mo_btn_close" data-dismiss="modal">Cancel</button>
                            <button id="btnProjectAddUpdateDone" class="btn btn-primary pull-right" type="button">Save</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div>
                                <!-- Project code -->
                                <div class="form-group">
                                    <label>Project code</label>
                                    <input id="txtProjectCode" type="text" class="form-control"/>
                                </div>
                                <!-- Project name -->
                                <div class="form-group">
                                    <label>Project displayed name</label>
                                    <input id="txtProjectDisplayedName" type="text" class="form-control"/>
                                </div>
                                <!-- Project description -->
                                <div class="form-group">
                                    <label>Project description</label>
                                    <textarea id="txtProjectDesc" class="form-control"></textarea>
                                </div>
                                <!-- Project scope -->
                                <div class="form-group">
                                    <label>Scope</label>
                                    <input type="radio" id="rd_scope_public" name="rd_scope" checked="checked" value="1"/> Public
                                    <input type="radio" id="rd_scope_private" name="rd_scope" value="2"/> Private
                                </div>
                                <!-- Project status -->
                                <div class="form-group">
                                    <label>Status</label>
                                    <input type="radio" id="rd_status_open" name="rd_status" checked="checked" value="1"/> Active
                                    <input type="radio" id="rd_status_pending" name="rd_status" value="2"/> Pending
                                    <input type="radio" id="rd_status_close" name="rd_status" value="3"/> Close
                                </div>
                                <!-- Project members search area -->
                                <div th:replace="common/fragments/commonSearchBox::frgSearchBox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
