<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
    <head th:replace="common/fragments/commonHeader :: frg_common_header(~{::title})">
        <title>User add/update</title>
    </head>
    <body>
        <div>Input user info</div>
        <div>
            <!-- Username -->
            <div class="form-group">
                <label>Username</label>
                <input id="txtUserName" type="text" class="form-control"/>
            </div>
            <!-- Dispname -->
            <div class="form-group">
                <label>Display name</label>
                <input id="txtDispName" type="text" class="form-control"/>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label>Password</label>
                <input id="txtPassword" type="password" class="form-control"/>
            </div>
            <!-- Password confirm -->
            <div class="form-group">
                <label>Password confirmation</label>
                <input id="txtPasswordConfirm" type="text" class="form-control"/>
            </div>
            <!-- Role -->
            <div class="form-group">
                <label>Role</label>
                <input type="radio" value="rdAdmin"/>ADMIN
                <input type="radio" value="rdUser"/>USER
            </div>
            <!-- Privileges -->
            <div class="form-group">
                <label>Granted privileges</label>
                <!-- Not-granted privileges -->
                <div>
                    <select multiple="multiple" size="12">
                        <option>User management</option>
                        <option>System management</option>
                    </select>
                </div>
                <!-- Grant/Revoke buttons -->
                <div>
                    <button id="btnGrant" type="button">Grant</button>
                    <button id="btnRevoke" type="button">Revoke</button>
                </div>
                <!-- Granted privileges -->
                <div>
                    <select multiple="multiple" size="12">
                        <option>Create documents</option>
                        <option>Search documents</option>
                    </select>
                </div>
            </div>
        </div>
    </body>
</html>
