<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/fragments/commonHeader::frg_common_header(~{::title},~{::link},~{})" th:with="timeToken=${#dates.format(#calendars.createNow(), 'yyyyMMddHHmmss')}">
        <title>Login as normal user</title>
        <link href="../../../../resources/css/auth/modulecommon/authCommon.css" rel="stylesheet" media="screen" th:href="@{'/resources/css/auth/modulecommon/authCommon.css?' + ${timeToken}}"/>
    </head>
    <body>
        <form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/user/login}">
            <th:block th:if="${param.error != null}">
                <div th:replace="common/fragments/components :: alert (type='danger', message='Please try again. Login error code: ' + ${param.error} )">Alert</div>
            </th:block>
            <fieldset>
                <legend>Input information for normal user</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Username" name="username" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" />
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="_spring_security_remember_me" /> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default">Login</button>
                    </div>
                </div>
                <div>
                    <label class="col-lg-2 control-label">OR</label>
                    <div class="col-lg-10 lo_auth_homelink">
                        <a href="#" th:href="@{/}">Back to home</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>